{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <p>When communicating a complex or unfamiliar concept, jargon creates a barrier for
      understanding. There are a number of situations when we are asked to give an explanation
      assuming that the audience has no technical or specialised knowledge. This can be
      particularly challenging as experts are often unaware when they are using jargon or what
      even constitutes jargon. We have developed a tool that identifies jargon, gives the
      user a metric to rate the jargon content, and makes suggestions for alternatives.</p>
    <form method="POST" action="/">
      {{ form.csrf_token }}
      <p><strong>Insert your text below:</strong></p>
      {{ form.text }}
      <div class="pull-right">
        <input class="btn btn-sucess" type="submit" value="Run Profiler">
      </div>
    </form>
  </div>
{% endblock %}
