{% extends "base.html" %}

{% block body %}
<div class="col-xs-6">
  <strong>Submited text</strong>
  <blockquote>
    {{ text }}
  </blockquote>
</div>
<div class="col-xs-6">
  You received a score of <strong>{{ score }}%</strong> words. Congratulations
  for your badge.
  <span class="jargon-badge">
  {% if score < 20 %}           
  <img alt="wordcloud" src="static/img/badges/1.png">
  {% elif score > 20 and score < 40 %}
  <img alt="wordcloud" src="static/img/badges/2.png">
  {% elif score > 40 and score < 60 %}
  <img alt="wordcloud" src="static/img/badges/3.png">
  {% elif score > 60 and score < 80 %}
  <img alt="wordcloud" src="static/img/badges/4.png">
  {% elif score > 80 %}
  <img alt="wordcloud" src="static/img/badges/5.png">
  {% endif %}
  </span>
</div>
{% endblock %}
