{% extends "base.html" %}

{% block body %}
<div class="col-xs-6">
  <strong>Submited text</strong>
  <blockquote>
    {{ text }}
  </blockquote>
</div>
<div class="col-xs-6">
  You received a score of <strong>{{ score }}%</strong> words. Congratulations
  for your badge.
  <span class="jargon-badge">
  {% if score < 0 %}
  <img alt="wordcloud" src="static/img/badges/1.svg">
  {% elif score >= 0.2 and score < 0.4 %}
  <img alt="wordcloud" src="static/img/badges/2.svg">
  {% elif score >= 0.4 and score < 0.6 %}
  <img alt="wordcloud" src="static/img/badges/3.svg">
  {% elif score >= 0.6 and score < 0.8 %}
  <img alt="wordcloud" src="static/img/badges/4.svg">
  {% elif score >= 0.8 %}
  <img alt="wordcloud" src="static/img/badges/5.svg">
  {% endif %}
  </span>
</div>
{% endblock %}
